  <meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
  <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
  <meta name="author" content="Luka Cvetinovic for Codrops" />
  <!-- Favicons (created with http://realfavicongenerator.net/)-->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="img/favicons/manifest.json">
  <link rel="shortcut icon" href="img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#00a8ff">
  <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Normalize -->
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <!-- Owl -->
  <link rel="stylesheet" type="text/css" href="css/owl.css">
  <!-- Animate.css -->
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
  <!-- Elegant Icons -->
  <link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
  <!-- Main style -->
  <link rel="stylesheet" type="text/css" href="css/cardio.css">

<body style="background-color: #d0ebf9;" >
<% if @over_5 %>
 <%= link_to 'Show All', '?m=all', class: 'btn btn-link pull-right' %>
<% end %>
<%= link_to '<i class="glyphicon glyphicon-log-out icon-flipped"></i>'.html_safe,
'/conversations', { :class => 'tooltips, btn btn-link', 'data-toggle' => 'tooltip',
   'data-placement' => 'right', :title => 'Back To Inbox' } %>


<br>
<br>
<br>
<center>

 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>

       <strong><%= user.email %> </strong><%= message.message_time %> :


        <%= message.body %> <br>

 <% end %>
<% end %>




<%= form_for [@conversation, @message] do |f| %>

<br>
<br>
<div class="content" style="border: solid; padding: 60px 0;
    width: 50%; ">
      <h1><b><font color="#273c75">Votre message :</font></b></h1>
  <%= f.text_area :body %>

  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>

  <%= f.submit "Envoyer",class: "btn btn-blue-fill ripple" %>
<% end %>
