<p id="notice"><%= notice %></p>

<p>
  <strong>Motif:</strong>
  <%= @appoitment.motif %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appoitment.date %>
</p>

<p>
  <strong>Duree:</strong>
  <%= @appoitment.duree%> <span>min</span> 
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appoitment.doctor_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appoitment.patient_id %>
</p>

<%= link_to 'Edit', edit_appoitment_path(@appoitment) %> |
<%= link_to 'Back', root_path %>

