
          <!-- <img src="img/team/team3.jpg" alt="Team Image" class="avatar"> -->
<%= image_tag @doctor.avatar.variant(resize: "200x200"), class: 'avatar'  %>

            <div class="title">
              <h4> <span> Nom: </span> <%= @doctor.firstname %> <%= @doctor.lastname %></h4>
              <h5 class="muted regular"> <span> Num: </span>  <%= @doctor.phone %>  </h5>
              <h5 class="muted regular"> <span> Adresse exacte : </span>  <%= @doctor.adresse %> | <%= @doctor.lieu %> </h5>
              <h5 class="muted regular"> <span> Nom de sa clinique: </span> <%= @doctor.clinique %> </h5>
            </div>
             <%= link_to "Prise de Rendez-vous", new_appoitment_path(doctor: @doctor.id), class: 'btn btn-blue-fill ripple' %> 
            <%= link_to 'message',conversations_path(sender_id: current_user.id, recipient_id: @doctor.id), method: "post", class: "btn btn-blue-fill ripple"  %>
            <%= link_to "Rendez-vous validé", accept_path(doctor: @doctor.id),class: "btn btn-blue-fill ripple" %>
