<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @premium.region %>
</p>

<p>
  <strong>Num:</strong>
  <%= @premium.num %>
</p>

<p>
  <strong>Date:</strong>
  <%= @premium.date %>
</p>

<%= link_to 'Edit', edit_premium_path(@premium) %> |
<%= link_to 'Back', premia_path %>
